/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Pizza Domenica
 *
 */
#page {
}
#main {
}

#page-title {
  display: none;
}

.page-single-page {
  header {
    background: none repeat scroll 0 0 #FFFFFF;
  }
}
.pageflow-wrapper {
  #page {
  }
  #header {
    height: 16.8em;
    position: relative;
    text-align: center;
  }
  .header__region {
      clear: both;
      display: block;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
  }
  #navigation {
    clear: both;
  }
  .region-navigation {
    background: none repeat scroll 0 0 #ffffff;
    height: 252px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
  }
  .pageflow-page {
    margin-bottom: 1em;
    #header {
      margin-bottom: -260px;
    }
    #main {
      position: relative;
      top: 260px;
    }
    .node-page {
      min-height: 350px;
    }
  }
}
#block-system-main-menu {
    @include zen-grid-item-base();
    $zen-column-count: 7;
    @include zen-grid-item(7, 1);
    @include zen-nested-container();
    position: fixed;
    top: 189px;
    z-index: 999;
  .menu {
    @include zen-grid-item(7, 1);
    @include zen-nested-container();
    @include zen-grid-background();
//    background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    z-index: 999;
    a {
      color: $red;
      font-size: 1.2em;
      padding: 1em;
      display: block;
    }
    a.active, a:hover {
      color: #FFFFFF;
    }
    li {
      padding: 0;
      text-align: center;
    }
    li.active-trail, li:hover {
      background: none repeat scroll 0 0 $red;   
    }
    li:nth-child(1) {
      @include zen-grid-item(1, 1);
    }
    li:nth-child(2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4) {
      @include zen-grid-item(1, 5);
    }
    li:nth-child(5) {
      @include zen-grid-item(1, 6);
    }
    li:nth-child(6) {
      @include zen-grid-item(1, 7);
    }

  }
}
#our-story {
  color: $red;
  text-align: center;
  //background: url('/sites/default/files/images/BG.png') no-repeat scroll 0 0 transparent;
  //height: 450px;
  a {
    color: $red;    
  }
  h2 {
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
  img{
    position: absolute;
    top:0;
    left: 0;
  }
}

#how-we-roll {
  color: $red;
  text-align: center;
  min-height: 618px;
  a {
    color: $red;    
  }
  h2 {
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
  img{
    position: absolute;
    top:0;
    left: 0;
  }
}
#our-farmers {
  background: url("/sites/default/files/images/farm_field.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  min-height: 900px;
}
#our-contact {
  background: none no-repeat scroll 0 0 $red;
  color: $white;
}

.block {
}
strong, em {
	color: $red;
}
#block-block-1, #block-block-3 {
  h2 {
    margin: 0;
    padding: 0;
    a {
    background: url("/sites/default/files/images/button.png") no-repeat scroll 0 0 transparent;
    color: $red;
    display: block;
    height: 73px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 170px;
    }  
  }
}
#block-block-2 {
  position: relative;
  img {
    left: 40%;
    position: fixed;
    top: 72px;
    transform-origin: left top 0;
    width: 20%;
    z-index: 999;
  }
}
#block-block-3 {
  strong a, a.email {
    color: $red;
  }
}
#footer {
}
#block-views-homepage-images-block {
  color: $white;
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    margin: 0;
  }
  .flex-direction-nav {
    *height: 0;
    a {
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(255,255,255,0.8);
      text-shadow: 0px 0px 0 rgba(255,255,255,0.3);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
    .flex-prev {
      left: -50px;
    }
    .flex-next {
      right: -50px;
      text-align: right;
    }
  }
  .flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  .flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
  }
  .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
  }
  .flex-direction-nav {
  .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
  }
  a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f001';
  }
  a.flex-next:before {
    content: '\f002';
  }
 }
  .views-field-field-homepage-image-tagline {
    padding: 1em;
    a {
      color: #fff;
      font-style: italic;
      padding-left: 1em;
    }
  }
}
// responsive grid layout
.views-responsive-grid {
  @include zen-grid-item-base();
  @include zen-grid-container();
}
.views-responsive-grid .views-row {
  @include zen-clear();
}
.views-responsive-grid.views-columns-2 {
  $zen-column-count:  2;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
}
.views-responsive-grid.views-columns-3 {
  $zen-column-count:  3;
  @include zen-nested-container();
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
}
.views-responsive-grid.views-columns-4 {
  $zen-column-count:  4;
  @include zen-nested-container();
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
}