/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Pizza Domenica
 *
 */
#page {
}
.page-single-page {
  header {
    background: none repeat scroll 0 0 #FFFFFF;
  }
}
.pageflow-wrapper {
  header {
    //background: none repeat scroll 0 0 #FFFFFF;
  }
  #navigation {
    clear: both;
  }
  .pageflow-page {
    #header {
    }    
  }
}
#page-title {
  display: none;
}
#header, #navigation {
//  position: fixed;
}
#our-story {
  color: $red;
  text-align: center;
  background: url('/sites/default/files/images/BG.png') no-repeat scroll 0 0 transparent;
  height: 400px;
  a {
    color: $red;    
  }
  h2 {
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
  img{
    position: absolute;
    top:0;
    left: 0;
  }
}

.block {
}
strong, em {
	color: $red;
}
#block-block-1 {
	a {
		color: $red;
	}
}
#block-block-2 {
}
#block-block-3 {
  strong a, a.email {
    color: $red;
  }
}
#footer {
}
#block-views-homepage-images-block {
  color: $white;
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    margin: 0;
  }
  .flex-direction-nav {
    *height: 0;
    a {
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(255,255,255,0.8);
      text-shadow: 0px 0px 0 rgba(255,255,255,0.3);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
    .flex-prev {
      left: -50px;
    }
    .flex-next {
      right: -50px;
      text-align: right;
    }
  }
  .flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  .flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
  }
  .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
  }
  .flex-direction-nav {
  .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
  }
  a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f001';
  }
  a.flex-next:before {
    content: '\f002';
  }
 }
  .views-field-field-homepage-image-tagline {
    padding: 1em;
    a {
      color: #fff;
      font-style: italic;
      padding-left: 1em;
    }
  }
}