/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Pizza Domenica
 *
 */
#page {
}
.page-single-page {
  header {
    background: none repeat scroll 0 0 #FFFFFF;
  }
}
#page-title {
  //display: none;
}
#header {
	z-index: 99;
}
.block {
	margin-bottom: 0;
  text-align: center;
}
strong, em {
	color: $red;
}
#block-block-1 {
	a {
		color: $red;
	}
  .opening {
    text-transform: uppercase;
    font-weight: bold;
  }
  .daily {
    text-transform: lowercase;
  }
  .hours {
    color: $red;
    font-weight: bold;
  }
}
#block-block-2 {
	position: relative;
	z-index: 99;
}
#block-block-3 {
  strong a, a.email {
    color: $red;
  }
}
#footer {
  p {
  	margin: 0;
  }
}
#block-views-homepage-images-block {
  color: $white;
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    margin: 0;
  }
  .flex-direction-nav {
    *height: 0;
    a {
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(255,255,255,0.8);
      text-shadow: 0px 0px 0 rgba(255,255,255,0.3);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
    .flex-prev {
      left: -50px;
    }
    .flex-next {
      right: -50px;
      text-align: right;
    }
  }
  .flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  .flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
  }
  .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
  }
  .flex-direction-nav {
  .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
  }
  a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f001';
  }
  a.flex-next:before {
    content: '\f002';
  }
 }
  .views-field-field-homepage-image-tagline {
    padding: 1em;
    a {
      color: #fff;
      font-style: italic;
      padding-left: 1em;
    }
  }
}