/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for Pizza Domenica
 *
 */
#page {
}
#main {
}
#page-title {
  display: none;
}
#content {
  padding-left: 0;
  padding-right: 0;
}
.not-front #content {
  padding-top: 18em;
}
#header {
  //height: 16.8em;
  position: relative;
  text-align: center;
  z-index: 99;
}
.header__region {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
#navigation {
  clear: both;
  position: relative;
  z-index: 999;
}
.region-navigation {
  //background: none repeat scroll 0 0 #ffffff;
  //height: 252px;
  left: 0;
  top: 0;
  width: 100%;
  //z-index: 998;
}

#block-system-main-menu {
    @include zen-grid-item-base();
    $zen-column-count: 7;
    @include zen-grid-item(7, 1);
    @include zen-nested-container();
    z-index: 999;
  .menu {
    @include zen-grid-item(7, 1);
    @include zen-nested-container();
    //@include zen-grid-background();
    //background: none repeat scroll 0 0 #FFFFFF;
    z-index: 999;
    a {
      color: $red;
      display: block;
      font-size: 1em;
      font-weight: bold;
      padding: 0 0.75em 0 0;
      text-transform: uppercase;
    }
    a.active {}
    a:hover {
      color: $yellow;
    }
    li {
      padding: 0;
      text-align: center;
    }
    li.active-trail, li:hover {
      //background: none repeat scroll 0 0 $red;   
    }
    li:nth-child(1) {
      @include zen-grid-item(1, 1);
    }
    li:nth-child(2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4) {
      @include zen-grid-item(1, 5);
    }
    li:nth-child(5) {
      @include zen-grid-item(1, 6);
    }
    li:nth-child(6) {
      @include zen-grid-item(1, 7);
    }

  }
}
#fullpage #content {
  h2 {
    //border-bottom: 1px solid $red;
    //border-top: 1px solid $red;
    color: $red;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25em;
    line-height: 1.5em;
    a {
      color: $red;
    }
  }
  h2 span {
    font-size: 0.5em;
    font-weight: normal;
    padding: 0.5em;
    position: relative;
    top: -0.5em;
  }
  .title-stripe {
    background-color: $red;
    border-color: $black;
    height: 1px;
    position: relative;
    margin: 0.5em auto;
    width: 111px;
  }
  .title-stripe.below {
    margin-bottom: 1.5em;
  }
.down-arrow {
  margin: 0 auto -3em;
  position: relative;
  top: -8em;
}
  p {
    letter-spacing: 2px;
    font-size: 1.125em;
    margin-left: auto;
    margin-right: auto;
    max-width: 721px;
  }  
}

#homepage-image-background, #block-block-11 {
  h2 {
    display: none;
  }
}
/*
#welcome {
  margin-bottom: -0.65em;
  min-height: 0;
  padding-top: 0;
  #main {
    display: none;
  }
}
*/
.block {
  margin-bottom: 0;
}
.welcome {
  .block-title, .title-stripe {
    display: none;
  }
  .fp-controlArrow {
    display: none;
  }
}
.hi-neighbor {
  color: $red;
  text-align: center;
}
.our-story {
  color: $red;
  text-align: center;
  //position: relative;
  a {
    color: $red;    
  }
  h2 {
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
  .our-story-bg {
    background: url("/sites/default/files/images/our-story2.png") no-repeat scroll top center rgba(0, 0, 0, 0);
    height: 349px;
    width: 100%;
    padding-top: 10em;
    position:relative;
    top: -10em;
  }
}

.how-we-roll {
  color: $red;
  text-align: center;
//  min-height: 618px;
  a {
    color: $red;    
  }
  h2 {
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
  h3 {
    letter-spacing: 2px;
  }
}
.our-videos {
  text-align: center;
  color: $red;
  font-weight: bold;
  img {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  .view-videos {
    margin: auto;
    width: 90%;
  }
}
.our-team {
  color: $red;
  .view-our-team {    
    margin: auto;
    width: 80%;
  }
  .views-field-field-team-photo {
    text-align: center;
  }
  .views-field-title {
    text-transform: uppercase;
    padding: 0 1em;
    font-weight: bold;
  }
  .views-field-field-team-bio {
    padding: 0 1em;
    p {
      font-size: 1em !important;
      letter-spacing: 1px !important;
      margin-top: 0;
      padding-top: 0.5em;
    }
  }
  .views-column-last {
    .views-field-title {
      border-right: none;
    }
    .views-field-field-team-bio {
      border-right: none;
    }
  }
}
.our-farmers {
  color: $white;
  text-align: center;
  h2, strong {
    color: $white !important;
  }
  .title-stripe {
    background-color: $white !important;
  }
  .view-our-farmers {
    margin: auto;
    width: 80%;    
  }
  .view-header {
    margin-bottom: 3em;
  }
  .views-field-title {
    margin-bottom: 2em;
  }
}
.our-contact {
  background: none no-repeat scroll 0 0 $red;
  color: $white;
  h2 {
    color: $white !important;
  }
  .title-stripe {
    background-color: $white !important;
  }
  img {
    border-radius: 200px;
  }
  img.social-icons {
    float: none;
    border-radius: none;
  }
  p {
    width: auto;
    max-width: 100%!important;
  }
  a {
    color: $white;
  }
  strong {
    color: $white;
  }
  ul {
    list-style: outside none none;
    padding: 0;
    li {
      list-style: outside none none;
    }
  }
  .view-page-blocks {
    width: 80%;
    margin: auto;
  }
}


.block {
}
strong, em {
	color: $red;
}
#block-block-1, #block-block-3 {
  h2 {
    margin: 0;
    padding: 0;
    a {
    background: url("/sites/default/files/images/button.png") no-repeat scroll 0 0 transparent;
    color: $red;
    display: block;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    }  
    a:hover {
      color: $white;
    }
  }
}
#block-block-1 h2 {
  float: right;
}
#block-block-3 h2 {
  float: left;
}
#block-block-2 {
  position: relative;
  p {
    margin: auto;
    //width: 263px;
    width: 50%;
  }
  img {
/*
    left: 45%;
    position: fixed;
    top: 5%;
    transform-origin: left top 0;
    width: 20%;
    max-width: 263px;
    max-height: 263px;
    z-index: 999;
*/
  }
}
#block-block-3 {
  strong a, a.email {
    color: $red;
  }
}
#block-block-9 {
  color: $grey;
  line-height: 1.5em;
  margin-bottom: 1em;
  p {
    margin: 0;
    letter-spacing: 1px;
  }
}
#footer {
}

#block-views-homepage-images-block, #homepage-images, #homepage-image-background {
  color: $white;
  padding-top: 0 !important;
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .view-footer {
    text-align: center;
    clear: both;
    margin-bottom: 1em;
  }
}
//instagram block layout
#block-views-instagram-block-1 {
  text-align: center;
  .view-instagram  {
    width: 90%;
    margin: auto;
  }
  img {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
}

//press releases
.view-press-releases {
  margin: 6em auto;
  width: 80%;
  img {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    float: left;
    margin: 1em;
  }
  .views-field-title {
    color: $red;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2em;
  }
  .views-field-field-press-source {
    font-style: italic;
  }
  .views-field-field-press-source {

  }
  .views-field-field-press-description {

  }
  .views-field-field-press-link {
    a {
      color: $red;
      text-decoration: none;
      font-style: italic;
    }
  }
  .press-line {
    background: $red;
    clear: both;
    color: $red;
    height: 1px;
    margin: auto;
    width: 90%;
  }  
}
//single platform menu
.our-menu {
  //background: none no-repeat scroll 0 0 $yellow;
  #menusContainer {
    margin: auto;
    width: 90%;
    .sp_price {
      z-index: 1;
    }
    #sp_main .sp_tabs {
      display: none;
    }
    p {
      text-align: left;
    }
  }
}

.mean-container {
  .mean-bar {
    background: none repeat scroll 0 0 transparent;
  }
  a.meanmenu-reveal {
    background: none repeat scroll 0 0 $red;
    padding: 13px 13px 17px;
    span {
      background: none repeat scroll 0 0 #FFFFFF;
      display: block;
      height: 3px;
      margin-top: 3px;
    }
    span.mean-head {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      color: $white;
      display: block;
      height: auto;
      left: -40px;
      position: relative;
      top: -25px;
      width: 400px;
      visibility: visible;
    }
  }
  .mean-nav {
    background: none repeat scroll 0 0 $red;
    h2 {
      color: $white;
    }
    ul li a {
      background: none repeat scroll 0 0 $red;
    }
    ul li a:hover {
      background: none repeat scroll 0 0 $red;
    }
    ul li a.mean-expand:hover {
      background: none repeat scroll 0 0 $red;
    }  
  }
}
